#aside-bar {
  height: 100vh;
  background-color: var(--primary-color);
  text-align: center;
}
#logo {
  margin-top: 50px;
}
#sidebar-link {
  padding: 10%;
}
#closeButton {
  color: white;
  text-align: right;
  margin: 10px;
  display: none;
  cursor: pointer;
}
@media (max-width: 994px){
  #aside-bar {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
  }
  #closeButton {
    display: block;
  }
}