.auth-container {
  display: grid;
  grid-template-columns: 4fr 7fr;
  height: 100vh;
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side {
  background-color: #ED1260;
  background-image: url('../../Assets/Images/Asset\ 7@300x\ 1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.side {
  padding: 25%;
}
@media (max-width:992px){
  .auth-container {
    display: block;
  }
  .left-side {
    margin-top: 40px;
  }
  .right-side{
    display: none;
  }
}