#sms-schedule {
  width: 75%;
}
hr {
  margin: 20px 0;
}
#schedule-title h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.002em;
  color: #4F5154;
}
#schedule-title small {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.002em;
  color: #BBC1C8;
}
#schedule-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 30px;
}
#schedule-info p {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.002em;
  color: #3D3D3D;
}
.send-message {
  margin-top: 20px;
  text-align: right;
}

@media (max-width:994px){
  #sms-schedule {
    width: 100%;
  }
  .send-message {
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: right;
  }
  #schedule-info {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  #schedule-info p {
    margin-bottom: 10px;
  }
}