#broadcast-message {
  width: 100%;
  height: 152px;
  border: var(--border);
  border-radius: var(--rounded-mid);
  padding: 10px;
}
#text-area-count {
  text-align: right;
}
#text-area-count small{
  font-size: 8px;
  line-height: 10px;
  color: #C5C7CD;
  margin-top: -10px;
}