#quota {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.re-quota {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width:994px){
  #quota {
    grid-template-columns: 1fr 1fr;
    gap: none;
    margin: 20px 0;
  }
}