#dropdown {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 25px 0;
  padding-bottom: 2px;
  text-align: left;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
#dropdown p:hover {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
#dropdown-icon {
  font-size: 20px;
}
#dropdown-icon-right {
  text-align: center;
}
#dropdown-items {
  padding-left: 20%;
}
#dropdown-items p {
  padding-top: 20px;
}
.list-icon {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding: 3px 6px;
  border-radius: 15%;
}